
.address {
    border-radius: 8px;
    border: 1px solid #717971;
    display: flex;
    width: 226px;
    padding: 8px 11px;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
